.idea/
.project
node_modules/
dist/
.settings/
nbproject/
.vscode/
docs/
.tm_properties
.fusebox/
.cache/*
/build/
.nyc_output/
coverage/
*.tgz
_docpress
.DS_Store
build.log
/.nx/*
/lerna-debug.log
/packages/build/bin/*
sandbox.js
.npmrc

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
