src/**
.project
node_modules/**
.settings/**
npm-debug.log
tsconfig.json
.nycrc
webpack.config.js
webpack.common.js
webpack.dev.js
webpack.prod.js
tslint.json
.vscode/
.github/**
.fusebox/**
coverage/**
declarations-tsconfig.json
dts-bundle-generator-config.json
.dependency-cruiser.js
typedoc.json
.settings/**
nbproject/**
.nyc_output/**
CHANGELOG.md
