{
  "check-coverage": true,
  "lines": 55,
  "functions": 55,
  "branches": 55,
  "statements": 55,
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "build/",
    "dist/",
    "src/**/*.spec.ts"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "extension": [
    ".ts"
  ],
  "cache": true,
  "all": true,
  "sourceMap": true,
  "instrument": true
}
