{
  "check-coverage": true,
  "lines": 69,
  "functions": 61,
  "branches": 61,
  "statements": 68,
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "build/",
    "dist/",
		"test/"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "extension": [
    ".ts"
  ],
  "cache": true,
  "all": true,
  "sourceMap": true,
  "instrument": true
}
